.welcome {
    display: flex;
    align-items: center;
}

.welcome > * {
    flex: 1;
}

.welcome img {
    height: 600px;
}

.welcome h1 {
    font-size: 5rem;
}

@keyframes scroll {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(calc(-100% - 10px));
    }
}

.cards {
    margin: 60px;
    overflow: hidden;
    display: flex;
    mask: linear-gradient(90deg, transparent, white 50px, white calc(100% - 50px), transparent);
    padding-bottom: var(--card-hover-px);
}

.cardSlider {
    animation: scroll 10s linear infinite;
    display: flex;
    flex-shrink: 0;
}

.cards:hover .cardSlider {
    animation-play-state: paused;
}

.timeline {
    display: flex;
    position: relative;
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 1rem;
}

.timeline .code {
    position: absolute;
    top: 528px;
    left: 48px;
    margin-left: 1rem;
}

.timeline .tools {
    position: absolute;
    top: 1127px;
    left: 48px;
    margin-left: 1rem;
}