.welcome {
    display: flex;
    align-items: center;
}

.welcome > * {
    flex: 1;
}

.welcome img {
    height: 800px;
}

.welcome h1 {
    font-size: 5rem;
}

@keyframes scroll {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(calc(-100% - 10px));
    }
}

.cards {
    margin: 60px;
    overflow: hidden;
    display: flex;
    mask: linear-gradient(90deg, transparent, white 50px, white calc(100% - 50px), transparent);
    padding-bottom: var(--card-hover-px);
}

.cardSlider {
    animation: scroll 10s linear infinite;
    display: flex;
    flex-shrink: 0;
}

.cards:hover .cardSlider {
    animation-play-state: paused;
}

.timelineSection {
    display: grid;
    grid-template-columns: 48px 1fr;
    transition: all 1s ease-in-out;
    opacity: 0;
}

.timelineSection img[alt="Line"] {
    transform: scaleY(0);
    transition: all .8s ease-in-out;
    transform-origin: top;
    opacity: 0;
}

.animate {
    opacity: 1;
}

.animate img[alt="Line"] {
    transform: scaleY(1);
    opacity: 1;
}

.timelinePart {
    display: flex;
    flex-direction: column;
    gap: 33px;
    margin-top: 33px;
}

.timelinePart img {
    max-height: 300px;
}

.timelineContent {
    display: flex;
    align-items: center;
    font-size: 50px;
    font-weight: 600;
    gap: 2rem;
}

.timelineContent img {
    width: 300px;
}
