.welcome {
    display: grid;
    grid-template-columns: 50% 50%;
    align-items: center;
    justify-items: center;
}

.welcome h1 {
    font-size: 4rem;
}

.welcome h2 {
    font-size: 1.5rem;
}

@keyframes scroll {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(calc(-100% - 10px));
    }
}

.cards {
    overflow: hidden;
    display: flex;
    mask: linear-gradient(90deg, transparent, white 20px, white calc(100% - 20px), transparent);
    padding-bottom: var(--card-hover-px);
}

.cardSlider {
    display: flex;
    gap: 2rem;
}

.cardSlider[data-animate] {
    animation: scroll 10s linear infinite;
}

.cards:hover .cardSlider {
    animation-play-state: paused;
}

.animate {
    opacity: 1;
}

.animate img[alt="Line"] {
    transform: scaleY(1);
    opacity: 1;
}

.facts {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
}

.factsCard {
    transform: none !important;
    text-align: center;
}

.factsCard img {
    width: 100%;
    height: 100%;
}

.factsCard::before {
    display: none;
}


@media only screen and (width <= 800px) {
    .welcome {
        grid-template-columns: 1fr;
        text-align: center;
    }

    .welcome h1 {
        font-size: 3rem;
    }

    .cards {
        width: 100%;
        mask: none;
        overflow: scroll;
        scroll-snap-type: x mandatory;
        gap: 2rem;
    }
}