.welcome {
    display: grid;
    grid-template-columns: 50% 50%;
    align-items: center;
}

.welcome > * {
    flex: 1;
}

.welcome img {
    max-height: 800px;
}

.welcome h1 {
    font-size: 5rem;
}

@keyframes scroll {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(calc(-100% - 10px));
    }
}

.cards {
    margin: 60px;
    overflow: hidden;
    display: flex;
    mask: linear-gradient(90deg, transparent, white 50px, white calc(100% - 50px), transparent);
    padding-bottom: var(--card-hover-px);
}

.cardSlider {
    animation: scroll 10s linear infinite;
    display: flex;
    max-height: 200px;
}

.cards:hover .cardSlider {
    animation-play-state: paused;
}

.animate {
    opacity: 1;
}

.animate img[alt="Line"] {
    transform: scaleY(1);
    opacity: 1;
}


@media only screen and (width <= 800px) {
    .welcome {
        grid-template-columns: 1fr;
        text-align: center;
    }

    .welcome h1 {
        font-size: 3rem;
    }

    .cards {
        margin: 0;
        width: 100%;
        mask: none;
        overflow: scroll;
        gap: 1rem;
        scroll-snap-type: x mandatory;
    }
}